@{
    Layout = null;
}
<html>
<body>
    <h1>SSR.Net</h1>
    <p>Examples:</p>
    <ul>
        <li>@Html.ActionLink("React 17","React17")</li>
        <li>@Html.ActionLink("React 18","React18")</li>
        <li>@Html.ActionLink("React 19","React19")</li>
        <li>@Html.ActionLink("Vue 3","Vue3")</li>
    </ul>
</body>
</html>
